body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-style: italic;
}

h1
{    
    line-height: 1,5%;
    font-size: 40px;
    letter-spacing: -2px;
    color: white;
    justify-content: center;
}

.portfolio
{
    background: #fafafa;
    display: flex;
}

.hero
{
    height: 150px;
    margin-bottom: 0;
    background-image: url('../images/imagenPortada.png');
    background-size: 800px 450px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: right;
    background-color: #39393d;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0px;
    padding: 10px;
}

.project
{
    border: 1px solid grey;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    display: flex;
    width: 250px;
    justify-content: center;
}

.tituloHero
{
    margin: 0px;
    border: none;
    height: 150px;
    width: 600px;
    justify-content: center;
    margin-top: 50px;
}

.tituloPortafolio
{
    border: none;
    width: auto;
    justify-content: center;
    display: flex;
}

.project-details
{
    width: auto;
    height: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-justify: auto;
    display: auto;
}

.project-image
{
    width: 141px;
    height: 77px;
}

.header
{
    background-color: #626262;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.header ol
{
    display: flex;
    height: inherit;
}

.header ol li
{
    height: inherit;
    display: flex;
    align-items: center;
}

.header a
{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.logo
{
    size: 150px;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.menu
{
    height: inherit;
}

ol, ul
{
    margin: 0;
    list-style: none;
}

figure
{
    margin: 0;
}

.header a
{
    color: white;
    text-decoration: none;
}

.footer
{
    background-color: #626262;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img
{
    vertical-align: middle;
}

.footer p
{
    margin-left: 25px;
    margin-right: 25px;
    height: auto;   
    color: white;
    align-items: center;
    justify-content: center;
}

.footer a
{
    margin-right: 25px;
    margin: 0;
    text-decoration: none;
    height: inherit;
    color: white;
    text-decoration-style: initial;
    align-items: center;
    justify-content: center;
}