body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-style: italic;
}

h1
{    
    line-height: 1,5%;
    font-size: 40px;
    letter-spacing: -2px;
    color: white;
    justify-content: center;
}

/* h1 strong
{
    color: red;
} */

.portfolio
{
    background: #fafafa;
}
.hero
{
    height: 150px;
    margin-bottom: 0;
    background-image: url('../images/imagenPortada.png');
    background-size: 800px 450px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: right;
    background-color: #39393d;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 0px;
    padding: 10px;
}

.project
{
    border: 1px solid grey;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    display: flex;
}

.project-imageContainer
{
    width: 500px;
}

.project-details
{
    width: 500px;
}

.header
{
    background-color: #626262;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.header ol
{
    display: flex;
    height: inherit;
}

.header ol li
{
    height: inherit;
    display: flex;
    align-items: center;
}

.header a
{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.logo
{
    size: 150px;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.menu
{
    height: inherit;
}

ol, ul
{
    margin: 0;
    list-style: none;
}

figure
{
    margin: 0;
}

.header a
{
    color: white;
    text-decoration: none;
}

.footer
{
    background-color: #626262;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img
{
    vertical-align: middle;
}

.footer p
{
    margin-left: 25px;
    margin-right: 25px;
}

@import "lesshat";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container{   
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top:20px;
}

.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    .img{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;   
        transform:scale(1);
        -ms-transform:scale(1); // IE 9 
        -moz-transform:scale(1); // Firefox 
        -webkit-transform:scale(1); // Safari and Chrome 
        -o-transform:scale(1); // Opera 
        -webkit-transition: all 500ms ease-in-out; // IE 9
        -moz-transition: all 500ms ease-in-out; // Firefox
        -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
        -o-transition: all 500ms ease-in-out; // Opera       
    }      
    .text{
        font-family: 'Open Sans';
        padding-top: 5px;
        display:block;
        text-align: center;
        width: 100%;   
        transform:translate(0px);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        opacity: 0;
        transition: transfom opacity 1.5s;
    }
    &:hover{
        .img{
            transform:scale(0.8);
            -ms-transform:scale(0.8); // IE 9 
            -moz-transform:scale(0.8); // Firefox 
            -webkit-transform:scale(0.8); // Safari and Chrome 
            -o-transform:scale(0.8); // Opera
        }
        .text{
            transform:translate(0px,-20px);
            opacity: 1;
        
        }
    
    } 
}